

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 1em;
}

.item {
  background-color: rgb(0, 6, 12);
  color: white;
  text-align: center;
  padding: 30px 0;
  border-radius: 8px solid #eb0d0d;
  font-size: 18px;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
}

/* Hover effect */
.item:hover {
  background-color: #eb0d0d;
  transform: translateY(-5px);
}
